@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400,700|Indie+Flower&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
}

#paper {
	width: 600px;
	height: 700px;
	position: relative;
	margin: 20px auto;
	padding-top: 50px;
	padding-bottom: 100px;
	border-radius: 15px;
	border: 1px solid #848484;
	background-image: repeating-linear-gradient(
		#ecebeb 0px,
		#e8e8e8 24px,
		#1b1b1b 25px
	);
	box-shadow: 0px 0px 5px 0px #888;
}

#paper::before {
	content: '';
	width: 1px;
	height: calc(100% - 98px);
	position: absolute;
	top: 0;
	left: 35%;
	background-color: rgba(33, 31, 31, 0.6);
}

#pattern {
	height: 100%;
	background-image: repeating-linear-gradient(
		white 0px,
		white 24px,
		teal 25px
	);
}

#content {
	display: flex;
	line-height: 25px;
	font-family: 'Indie Flower', cursive;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 2px;
	word-spacing: 4px;
}

.left-container {
	position: relative;
	width: 35%;
	padding: 0 10px;
}

.right-container {
	position: relative;
	width: 65%;
	padding: 0 10px;
}

.title-info {
	font-family: 'Fira Mono', monospace;
	color: #000;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 1px;
	position: absolute;
	top: 0;
	left: 5px;
	width: max-content;
}

.left-paper {
	position: absolute;
	top: 5px;
	left: 0;
}

.right-paper {
	position: absolute;
	top: 5px;
	left: 35%;
}

.bottom-paper {
	position: absolute;
	bottom: 90px;
	left: 0;
}

.paper-glue {
	position: relative;
}
.paper-glue:nth-child(even) {
	top: 25px;
}
